.Container {
  border: solid 1px #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 8px auto;
  padding: 0 8px;
  position: relative;
  width: 100%;
  transition: border 0.2s ease-out;
  background-color: #ffffff;
}

.Label {
  background-color: rgba(0, 0, 0, 0);
  color: #777777;
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 13px) scale(1);
  transition: all 0.2s ease-in-out;
  cursor: text;
  pointer-events: none;
}

.Active {
  border-color: #0d89ee;
  transition: border 0.2s ease-in-out;
}

.Active label {
  z-index: initial;
  color: black;
  background-color: white;
  transform: translate(0, -8px) scale(0.75);
}

.Input[type='text'],
.Input[type='email'],
.Input[type='password'] {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  outline: 0;
  padding: 16px 0 10px;
  width: 100%;
}

.Select {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 16px 0 10px;
  width: 100%;
}

.TextArea {
  resize: none;
  border: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  outline: 0;
  padding: 12px 5px;
  height: 44px;
  min-height: 44px;
  width: 100%;
}
