.ChatInfoCell {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.ChatInfoCell span {
  width: 100%;
}

.ChatInfoTitle {
  width: 40% !important;
  color: white;
  text-align: -webkit-right;
  margin-right: 4px;
}

.ChatInfoText {
  width: fit-content;
  overflow-wrap: anywhere;
  background-color: #a5a5a5;
  margin: 2px;
  padding: 8px;
  border-radius: 10px;
}

.ChatInfoContent {
  font-weight: 700;
  width: 60%;
  color: #a5a5a5;
  word-wrap: break-word;
  height: 100%;
  display: flex;
  align-items: center;
}
