.Navbar {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;

}

.Separator {
  width: 90%;
  border-radius: 128px;
  height: 5px;
  background-color: #A5A5A5;
  margin-bottom: 8px;
}

.Title {
  font-size: 20px;
  color: #7f7f7f;
  margin: 0 8px 8px;
}

.TopBar {
  flex: 1;
  width: 100%;
}

.BottomBar {
  flex: 0;
  width: 100%;
}
