.Navbar {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;

}

.Separator {
  width: 90%;
  border-radius: 128px;
  height: 5px;
  background-color: #A5A5A5;
  margin-bottom: 8px;
}

.Title {
  font-size: 20px;
  color: #7f7f7f;
  padding: 8px;
  width: 100%;
}

.TopBar {
  flex: 1;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
}

.TopBar::-webkit-scrollbar, .BottomBar::-webkit-scrollbar {
  width: 5px;
}

.TopBar::-webkit-scrollbar-track, .BottomBar::-webkit-scrollbar-track {
  background-color: #ccc;
}

.TopBar::-webkit-scrollbar-thumb, .BottomBar::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #acacac;
}

.TopBar::-webkit-scrollbar-corner, .BottomBar::-webkit-scrollbar-corner {
  background-color: transparent;
}

.BottomBar {
  flex: 0;
  width: 100%;
}
