.Logo {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo object {
  width: 128px;
  height: 128px;
}

.Logo img {
  width: 100%;
  height: 100%;
}
