.ChatContainer {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #eeeeee;
  border-radius: 5px;
  display: inline-block;
  height: auto;
  overflow: hidden;
  width: 95%;
}

.ChatContainer form {
  width: 100%;
}

@media (min-width: 500px) {
  .ChatContainer {
    width: 85%;
    max-width: 750px;
  }
}
