.MsgDiv {
  margin: 4px;
  min-width: 30%;
  max-width: 60%;
  padding: 10px;
}

.IncomingMessage {
  align-self: flex-start;
  background-color: #178cff;
  color: white;
  border-radius: 3px 12px 12px 12px;
}

.OutgoingMessage {
  align-self: flex-end;
  background-color: #1d63a8;
  color: white;
  border-radius: 12px 3px 12px 12px;
}

.Name {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 5px;
}

.Message {
  white-space: pre-wrap;
  text-align: left;
  width: 100%;
  font-size: 18px;
  word-wrap: break-word;
}
