.Container {
  width: 98%;
  height: 98%;
  padding: 28px 2%;
  border-radius: 30px;
  display: flex;
  box-sizing: border-box;
  background: #ccc;
  overflow-y: scroll;
}

.AdminChat {
  width: 100%;
  margin-bottom: 10px;
}

.ChatInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 32px;
  padding: 16px;
}

.ChatInfo div {
  width: 100%;
}

@media (min-width: 900px) {
  .Container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
  }

  .AdminChat {
    width: 59%;
    height: 100%;
    margin: 0;
  }

  .ChatInfo {
    width: 39%;
    height: 100%;
    margin-bottom: 0;
  }
}
