.Container {
  display: inline-block;
  width: 80%;
  height: 90%;
}

.AdminChat {
  width: 100%;
  margin-bottom: 10px;
}

.ChatInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.ChatInfoContent {
  width: 50%;
  word-wrap: break-word;
}

@media (min-width: 700px) {
  .Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .AdminChat {
    width: 59%;
    height: 100%;
  }

  .ChatInfo {
    width: 39%;
    height: 100%;
  }
}
