.NavbarItem {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavbarItem a {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

.NavbarItem a div {
  margin-right: 8px;
}

.BottomIcon {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  background-color: white;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  border-radius: 0px 0px 10px 10px;
  font-size: 22px;
  margin: 0 20px;
  padding: 0 8px;
  min-width: -webkit-fill-available;
}

.Separator {
  margin-bottom: 8px;
  width: 100%;
  height: 0;
  max-height: 0;
}

.IconContainer {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.IconValue {
  margin: 0 5px;
}

@media (min-width: 500px) {
  .NavbarItem {
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 8px;
  }

  .NavbarItem a {
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding: 8px 22px 8px 10px;
    word-break: break-word;
  }

  .NavbarItem a:hover {
    box-shadow: 0 0 0 3px #909090;
  }

  .NavbarItem a:active,
  .NavbarItem a.active {
    box-shadow: 0 0 0 3px #909090;
  }
}
