.NavbarItem {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavbarItem a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  border: 5px solid transparent;
  transition: all 0.2s ease-in-out;
}

.NavbarItem a div {
  margin-right: 5px;
}

@media (min-width: 500px) {
  .NavbarItem {
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 10px 8px;
  }

  .NavbarItem a {
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding: 16px 10px;
    border-radius: 16px;
  }

  .NavbarItem a:hover {
    transform: scale(1.04);
  }

  .NavbarItem a:active,
  .NavbarItem a.active {
    transform: scale(1.04);
    border: 5px solid #7f7f7f;
  }
}
