.MessagesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 300px;
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: #fff;
  border-radius: 32px;
  padding: 16px;
}

.MessagesContainer::-webkit-scrollbar {
  width: 10px;
}

.MessagesContainer::-webkit-scrollbar-track {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.MessagesContainer::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #acacac;
  outline: 0.1px solid #999fa5;
}
